#fileUpload-container {
    display:none;
}
#fileUpload-bg {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

#fileUpload-inner {
    width: 95%!important;
    height: 95%;
    margin-top: 1em;
    padding:1em;
    background-color: #fff;
}
.close-fileUpload-container {
    float: right;
    font-size: 40px;
    color: rgb(231, 231, 231);
    text-shadow: 0 0 4px #00F;
}
.close-fileUpload-container:hover {
    float: right;
    font-size: 40px;
    color: rgb(211, 211, 211);
    text-shadow: 0 0 8px #00F;
    cursor:pointer;
}

#fileUpload-canvas {
    text-align: center;
    margin-top: auto;
    position: absolute;
}
#fileUpload-icon {
    opacity:0.5;
}
#fileUpload-info {

}